<div class = "container">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@micropost, url: microposts_path) do |p| %> 
  <%= p.label :title %>
  <%= p.text_field :title %>

  <%= p.label :content %>
  <%= p.text_field :content %>
  
  <%= p.submit "Submit", class: 'btn btn-primary' %>

<% end %>

</div>
</div>